body {
    background: url('/img/vuexy-login-bg.jpg');
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo {
    width: 100%;

}

img {
    max-width: 18rem;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-ficha {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.body-ficha {
    display: flex;
    flex-direction: column;
    margin-inline: 5%;
}

.proveedor, .descripcion_despacho, .arancel, .pais_procedencia, .presentacion {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}